header {
    background: url('pesto2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
  }
  body {
    background-color: rgb(56, 113, 113);
  }
  h1 {
    color: rgb(236, 215, 113);
  }
  h2 {
    
    color: rgb(236, 215, 113);
  }
  h3 {
    color: rgb(236, 215, 113);
  }
  ul {
    color: rgb(236, 215, 113);
  }
  li {
    color: rgb(236, 215, 113);
  }
  p {
    color: rgb(236, 215, 113);
  }
  div {
    border: 2px solid rgb(236, 215, 113);
    border-radius: 8px;
    max-width: fit-content;
    padding: 10px;
    text-align: center;
    margin: auto;
  }